@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

:root {
    --bglight: #2c2c2c;
    --bgdark: #202020;
    --primary: #2b6eff;
    --secondary: #43caff;
}

* {
    box-sizing: border-box;
}
body, html, h1 {
    margin: 0;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.header {
    position:absolute;
    display:flex;
    align-items: center;
    top: 0;
    height: 9vh;
    width: 100%;
    z-index: 99;
}
.header * {
    font-size: 1.6em
}
.name {
    margin:0px 3vw;
}
.name > * {
    font-weight: 700;
}
.separator {
    width:100%;
}
.selections {
    display:flex;
    align-items: center;
    padding: 0 1vw 0 0;
}
.selections > * {
    margin: 0 10px;
}

.first-content {
    position:relative;
    top:0;
    left: 0;
    height: 70vh;
    width: 100vw;
    background-image: url("images/background.jpg");
    background-position: center;
    box-shadow: inset 0px 20px 30px -16px #000000, 
                inset 0px -20px 30px -16px #000000;
}
.card {
    min-height: 20vh;
}
.light {
    background-color: var(--bglight);
}
.dark {
    background-color: var(--bgdark);
}